
body {
  text-align: center;margin-top: 0;
background-color: #F2D5F2;
font-size: 200%}

h1 {font-family: 'Dancing Script', cursive;font-size: 5rem;}
p {font-family: 'Mali', cursive;}

.top-container
{
  position: relative;padding-top: 100px;}



}
